{% extends "layout.html" %}
{% block content %}
    <div class="Generator-QR">
        <div class="Container">
            <img src="{{ url_for('static', filename='QR/Qr.png')}}" alt="Código QR" class="QR-Image">
        </div>

        <div class="Text">
            <h3>Instrucciones</h3>
            <ul class="Instructions-List">
                <li>Conectado a la misma red WiFi</li>
                <li>Abre la cámara de tu dispositivo</li>
                <li>Escanea este código QR</li>
                <li>Se abrirá automáticamente NetDrop</li>
            </ul>

            <a class="regenerate-btn" href="/qr">Generar Nuevo QR</a>
        </div>
    </div>

{% endblock %}